<form action="/coach/new_project" method="post">

    <input type="hidden" name="coach_chain" value="basicstep" />
    <label for="{{ input_parameter }}">{{ input_parameter }}</label>
    <input type="text" name="{{ input_parameter }}">

    <button type="submit">Submit</button>
</form>
