<form action="/coach/new_project" method="post">
Select the question you wanna handle.<br/>
    <p/>
    <input type="radio" name="coach_chain" value="what" />
    &nbsp; What<br/>
    <input type="radio" name="coach_chain" value="why" />
    &nbsp; Why<br/>
    <input type="radio" name="coach_chain" value="mostbasicstep" />
    &nbsp; Most Basic Step<br/>
    <p/>
    <button type="submit">Submit</button>
</form>
