<form action="{{ next_url }}" method="post">
    <div class="form-group">
        <label for="{{ input_parameter }}">{{ input_parameter }}</label>
        <input name="{{ input_parameter }}" type="text">
    </div>
    <button type="submit">Submit</button>
</form>
