{% include 'partials/header.html.twig' %}
        <p>
            Your question is {{ question }}
        </p>

{% include 'partials/simple_qa_form.html.twig' %}        

{% include 'partials/footer.html.twig' %}
