<html>
    <head>
        <title>Question Handler Display</title>
    </head>
    <body>
        <p>
            Your question is {{ question }}
        </p>
        <p><a href="/">Back</a></p>
    </body>
</html>
